@for $i from 0 through 10 {
  $val: 10 * $i;

  .w-#{$val} {
    width: $val * 1%;
  }
  .h-#{$val} {
    height: $val * 1%;
  }
  .vw-#{$val} {
    width: $val * 1vw;
  }
  .vh-#{$val} {
    height: $val * 1vh;
  }
}
